/*TO DO : Ajouter plus de style au boutons parce que why not
Je parle surtout de la police et peut-être rajouter des effets au clic mais tkt*/ 

.navbar {
    display: flex;
    flex-direction: column;
    background-color: #0f0f11;
    height: 100%;

}

.button {
    padding: 3vh;
    text-decoration: none;
    color: darkgrey;
}