<div class="team_main">
    <!-- !!!!TO DO!!!!! better css for picture and card -->
    <div class="row">
        <div class="card one">
            <h2>Iñaki</h2>
            <div class="card_row">
                <img class="picture" alt="photo d'Inaki" src="../../assets/Inaki-exterieur.webp">
                <p>Iñaki, étudiant à l'IUT Lyon 1, conjugue brillamment sa passion pour la mécanique avec une expertise
                    croissante en conception. Sa détermination et son ingéniosité font de lui un élément clé pour notre
                    équipe.</p>
            </div>
        </div>
        <div class="card two">
            <h2>Guillaume</h2>
            <div class="card_row">
                <img class="picture" alt="photo de Guillaume" src="../../assets/Guillaume.webp">
                <p>Guillaume, étudiant à l'IUT Lyon 1, incarne l'essence même de la production avec un mélange parfait
                    d'expertise technique et de dévouement sans faille. Sa passion pour l'efficacité et son sens aigu de
                    l'organisation font de lui le moteur incontesté de nos opérations de production.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card tree">
            <h2>Maxime</h2>
            <div class="card_row">
                <img class="picture" alt="photo de Maxime" src="../../assets/Maxime.webp">
                <p>Maxime, élève au lycée Pierre Termier, brille comme notre ingénieur technoweb et CFD. Son
                    savoir-faire
                    technique combiné à sa passion pour l'innovation numérique font de lui un atout inestimable.
                    Toujours à
                    la
                    pointe de la technologie, Maxime repousse les frontières de l'ingénierie avec créativité.
                </p>
            </div>
        </div>
        <div class="card four">
            <h2>Joseph</h2>
            <div class="card_row">
                <img class="picture" alt="photo de Joseph" src="../../assets/Joseph.webp">
                <p>Joseph, élève au lycée Pierre Termier, est le talent artistique qui donne vie à notre équipe en tant
                    que
                    graphiste. Son sens esthétique aiguisé et sa créativité débordante transforment chaque projet en une
                    œuvre
                    d'art visuelle. Avec Joseph à nos côtés, l'esthétique rencontre l'ingénierie.
                </p>
            </div>
        </div>
    </div>
</div>