.home-main {
    background: url("../../assets/logo_1.webp") center/80% no-repeat;
    height: 100%;
}

.picture-home {
    padding: 1vh;
    width: 50vh;
    height: 50vh;
}

.next {
    background-color: #ff0000;
    border: none;
    border-radius: 1vh;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.page {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 3vh;
}