.home-main {
    height: 100%;
}

.picture-home {
    padding: 1vh;
    width: 50vh;
    height: 50vh;
}

.next {
    background-color: #ff0000;
    border: none;
    border-radius: 1vh;
    color: white;
    padding: 1vh 2vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vh;
}

.slide {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.slide.p1 {
    background: url("../../assets/logo_1.webp") center/80% no-repeat;
}

@keyframes reveal {
    from {
        transform: translateY(25px)
    }

    to {
        opacity: 1;
        transform: none
    }
}