<div class="home-main">
    <!-- Slide 1 Home -->
    <div class="slide p1" [class.active]="currentSlide === 1">
        <h1>Electron racing</h1>
        <button class="next" type="button" (click)="nextSlide()">Suivant</button>
    </div>

    <div class="slide p2" [class.active]="currentSlide === 2">
        <img src="../../assets/voiture.webp" class="img">
        <p class="text-2">Bienvenue dans l'univers palpitant d'Electron Racing, l'équipe F1 in Schools originaire de la
            magnifique
            ville de Lyon !<br>
            Au cœur de notre passion dévorante pour la course automobile et l'innovation, nous nous
            sommes engagés à repousser les limites de la créativité et de l'ingéniosité.

            Notre équipe incarne l'esprit lyonnais audacieux et déterminé, combinant une tradition d'excellence avec
            une vision résolument tournée vers l'avenir. Dans l'arène compétitive de F1 in Schools, nous avons
            embrassé le défi de concevoir et de construire une voiture miniature de Formule 1, prête à dévaler les
            pistes avec une performance exceptionnelle.

            Cependant, au-delà de la vitesse pure, c'est notre engagement envers l'innovation qui distingue Electron
            Racing. Nous ne cherchons pas simplement à suivre les normes, mais à les redéfinir. Chaque membre de
            notre équipe apporte une perspective unique et des compétences exceptionnelles, créant ainsi un
            environnement où les idées novatrices prospèrent.

            Que ce soit dans le développement de matériaux révolutionnaires, l'optimisation aérodynamique ou la mise
            en œuvre de technologies de pointe, Electron Racing est à la pointe de l'ingénierie. Nous ne nous
            contentons pas de rivaliser, nous visons l'excellence.

            Rejoignez-nous dans cette aventure passionnante où la vitesse rencontre l'innovation, où la technologie
            rencontre la tradition. Electron Racing, l'équipe lyonnaise qui repousse constamment les limites pour
            atteindre de nouveaux sommets dans le monde exaltant de F1 in Schools.</p>
        <div class="button_bar">
            <button class="next" type="button" (click)="prevSlide()">Précédent</button>
            <button class="next" type="button" (click)="nextSlide()">Suivant</button>
        </div>

    </div>

    <div class="slide p3" [class.active]="currentSlide === 3">
        <div class="button_bar">
            <p>3</p>
            <button class="next" type="button" (click)="prevSlide()">Précédent</button>
            <button class="next" type="button" (click)="nextSlide()">Suivant</button>
        </div>
    </div>
</div>