<div class="home-main">
    <!-- Slide 1 Home -->
    <div class="slide p1" [class.active]="currentSlide === 1">
        <div class="title-p1">
            <h1 class="title-p1">Electron racing</h1>
            <h2 class="title-p1">L'innovation est notre motivation</h2>
        </div>
        <button class="next" type="button" (click)="nextSlide()">Suivant</button>
    </div>

    <div class="slide p2" [class.active]="currentSlide === 2">
        <img src="../../assets/voiture.webp" class="img" alt="dessin de notre voiture vu de face">
        <p class="subtilte-picture">Dessin technique de notre voiture Er-MK1 (ancienne version) ©</p>
        <p class="text-2">Bienvenue dans l'univers palpitant d'Electron Racing, l'équipe F1 in Schools originaire de la
            magnifique
            ville de Lyon !<br>
            Au cœur de notre passion dévorante pour la course automobile et l'innovation, nous nous
            sommes engagés à repousser les limites de la créativité et de l'ingéniosité.

            Notre équipe incarne l'esprit lyonnais audacieux et déterminé, combinant une tradition d'excellence avec
            une vision résolument tournée vers l'avenir. Dans l'arène compétitive de F1 in Schools, nous avons
            embrassé le défi de concevoir et de construire une voiture miniature de Formule 1, prête à dévaler les
            pistes avec une performance exceptionnelle.

            Rejoignez-nous dans cette aventure passionnante où la vitesse rencontre l'innovation, où la technologie
            rencontre la tradition. Electron Racing, l'équipe lyonnaise qui repousse constamment les limites pour
            atteindre de nouveaux sommets dans le monde exaltant de F1 in Schools.</p>
        <a href="https://f1inschools.fr/" target="_blank" class="link">Plus d'information sur la compétition f1 in
            school</a>
        <div class="button_bar">
            <button class="next" type="button" (click)="prevSlide()">Précédent</button>
            <button class="next" type="button" (click)="nextSlide()">Suivant</button>
        </div>

    </div>

    <div class="slide p3" [class.active]="currentSlide === 3">
        <img src="../../assets/photo-equipe.webp" class="img_2" alt="Photo officiel de l'équipe">
        <p class="subtilte-picture">Photo officiel de l'équipe</p>
        <h1>L'innovation est notre motivation</h1>
        <p class="text-2">

            Rejoignez-nous dans cette incroyable aventure. Contacter <a class="link"
                href="mailto: contact@electron-racing.fr">contact&#64;electron-racing.fr</a> pour toutes
            demandes
            de
            partenariat.
        </p>
        <div class="button_bar">
            <button class="next" type="button" (click)="prevSlide()">Précédent</button>
        </div>
    </div>
</div>